[Unit]
Description=Prometheus Time Series Collection and Processing Server
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/opt/prometheus/prometheus \
    --config.file /etc/prometheus.yaml \
    --storage.tsdb.path /opt/prometheus/data/ \
    --log.level=debug \
    --web.console.templates=/opt/prometheus/consoles \
    --web.console.libraries=/opt/prometheus/console_libraries \
    --web.enable-admin-api \
    --web.listen-address=0.0.0.0:10090

[Install]
WantedBy=multi-user.target
